#mainbody {
  margin: 15px 0px 15px 0px;
}

h3 {
  color: #367DA2 !important;
}

h4.heading {
  color: #367DA2;
}

hr {
  border-top: 3px solid #367DA2 !important;
}

#name_id {
  padding: 0px 15px 5px 15px;
}

.well {
  margin-bottom: 1px !important;
}

#experience {
  padding: 5px 15px 5px 15px; 
}

ul  {
 padding-left: 16px;   
}
ul li  {
 list-style-position: outside
}

#exptime {
  line-height: 0.85;
}

h5 {
  line-height: 1.5 !important;
}