<!DOCTYPE html>
<html lang="en">
<head>
	<title>Monty's Resume</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<script src="https://use.fontawesome.com/456380b3a8.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/fetch_resume_data.js"></script>
	<!-- I made this resume after messing around with Freecodecamp and Heroku. It was
			 mostly to teach myself a little bit of frontend muckery and some JSON shenanigans
			 given my near beginner level of web development. I'm pretty happy how
			 it turned out. Feel free to let me know what you think or how I can make it
			 better -->
</head>

<body>

<div class = "container-fluid">
<div class ="jumbotron" id="mainbody">
	
	<!-- Header & Contact Info -->
	<div class id="name_id"> 
  	<hr>
    <h2 class="myname">Monty Mitra</h2>
    <a href="mailto:montymitra@gmail.com" class="btn btn-primary" role="button">
    	<i class="fa fa-envelope"></i>
    </a>
    <a href="https://www.linkedin.com/in/montymitra/" target="_blank" class="btn btn-primary" role="button">
    	<i class="fa fa-linkedin"></i>
    </a>
    <a href="https://cinematicwordverse.com/" target="_blank" class="btn btn-primary" role="button">
    	<i class="fa fa-medium"></i>
    </a>
  </div>
  
  <!-- Experience Section -->  
  <div class id="experandeduc"> 
  	<h4 class = "heading">EXPERIENCE</h4>
     
    <!-- the experience is all rendered via javascript. Maybe not how you should really
    		 do it, but this was all just to play with JS, JSON, etc. -->
    <div class="allexp"></div>
    
  </div>
  
  <!-- Education -->  	      
  <div class id="experandeduc"> 
    <h4 class = "heading">EDUCATION</h4>
  
  	<div class="well well-sg">
    	<div class="row">
      	<div class="col-md-3">
      	</div>
      	<div class="col-md-9">
        	<h5 class = "mydegree"><a href="http://mba.haas.berkeley.edu" target="_blank">MBA, The University of California at Berkeley</a></h5>
        	<h5 class = "mydegree"><a href="http://www.ece.utexas.edu" target="_blank">BS Electrical Engineering, The University of Texas at Austin</a></h5>
      	</div>
    	</div>  
  	</div>
	</div>
  
  <!-- little link to the github repo where all this goodness resides -->
  <div id="footer">
    <a href="https://github.com/mmitrasl/monty-resume-node-js" target ="_blank">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
    
</div>
</div>

</body>
</html>