<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monty's Bootstrap Resume</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class = "container-fluid">
	<div class ="jumbotron" id="mainbody">
  	<div class id="name_id">
      <hr>
      <h3>Monty Mitra</h3>
      <p>montymitra@gmail.com | www.linkedin.com/in/montymitra</p>
    </div>
    
    <div class id="experience">
      <h4 class = "heading">EXPERIENCE</h4>
      
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-3">
            <h4 class = "heading" id="exptime">2014 - Present</h4>
            <h4 class = "heading" id="exptime">San Francisco, CA</h4>
          </div>
          <div class="col-md-9">
            <h4>Consultant</h4>
            <ul>
              <li>Launched PostgreSQL database add-on product for Pivotal Cloud Foundry; created pricing, license agreements, and marketing collateral</li>
              <li>Developed and rolled out new pricing for Engine Yard’s instance products</li>
              <li>Redesigned and launched new website for Stark & Wayne, LLC, a cloud services
            consulting firm</li>
              <li>Developed executive presentations for Medallia including four quarterly all-hands
presentations; coached executives in performance styles and storytelling;
            presentations were graded highly by other executives</li>
              <li>Created a series of Medallia engineering documents explaining complex technical
topics to non-engineering teams; documentation regarded as essential primers
            for non-technical audiences</li>
              <li>Produced, wrote, directed Medallia’s recruiting video; received over 25K hits
            across all channels; video noted to have helped attract high profile talent</li>
              <li>Wrote datasheet and whitepaper explaining identity management service
            implemented on Amazon Web Services</li>
            </ul>
          </div>
      </div>
    </div>
    
    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
          <h4 class = "heading" id="exptime">4/2013 - 11/2013</h4>
          <h4 class = "heading" id="exptime">San Francisco, CA</h4>
        </div>
        <div class="col-md-9">
          <h4>Lookout, Sr. Product Manager</h4>
            <ul>
              <li>Released first version of Lookout of Business product utilizing customer
                development methodology; outperformed project schedule</li>
              <li>Interviewed customers ranging from SMB's to large enterprises; refined MVP
                scope; defined market positioning for SMB segment</li>
              <li>Developed product roadmap; presented to executive team and company all-
                hands on continual basis</li>
            </ul>
        </div>
      </div>
    </div>
      
    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
          <h4 class = "heading" id="exptime">2012 - 2013</h4>
          <h4 class = "heading" id="exptime">San Francisco, CA</h4>
        </div>
        <div class="col-md-9">
          <h4>SportsLab, Co-Founder & Head of Product</h4>
            <ul>
              <li>Built initial PlayBook iOS application from scratch; created specifications and wireframes; recruited part-time employees and full time contractors to complete app visual design and development</li>
              <li>Interviewed coaches and athletic trainers to build product MVP and long term product strategy</li>
              <li>Co-founded company; pitched angel and VC investors</li>
            </ul>
        </div>
      </div>
    </div>      
      
    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
          <h4 class = "heading" id="exptime">2011 - 2012</h4>
          <h4 class = "heading" id="exptime">San Francisco, CA</h4>
        </div>
        <div class="col-md-9">
          <h4>Engine Yard, Sr. Product Manager</h4>
            <ul>
              <li>Owned Engine Yard Cloud product responsible for 50% of company revenue; met all quarterly revenue growth goals</li>
              <li>Led product marketing initiatives including creating content for analyst briefings and training new sales employees on product capabilities and features</li>
              <li>Built product roadmap development process; ran bi-weekly executive steering committee meetings; trained new product managers</li>
              <li>Launched Engine Yard Cloud Add-Ons marketplace; drove design with UX team, prioritized features with engineering team, and created business/partnership model with business development</li>
            </ul>
        </div>
      </div>
    </div>        
      
    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
          <h4 class = "heading" id="exptime">2010 - 2011</h4>
          <h4 class = "heading" id="exptime">San Francisco, CA</h4>
        </div>
        <div class="col-md-9">
          <h4>Zinio, Product Manager</h4>
            <ul>
              <li>Directed implementation of security features for e-reader applications; worked
with security architects to analyze piracy issues; reduced piracy by 60%</li>
              <li>Coordinated international launch of e-reader applications; facilitated application-
wide translations; supported international partners in Europe, China, and Japan</li>
            </ul>
        </div>
      </div>
    </div>       

    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
          <h4 class = "heading" id="exptime">2008 - 2010</h4>
          <h4 class = "heading" id="exptime">San Mateo, CA</h4>
        </div>
        <div class="col-md-9">
          <h4>Trilibis Mobile, Product Manager</h4>
            <ul>
              <li>Secured new business by working with major US wireless carriers and content
providers; drafted and negotiated contract terms; generated over $300K in
revenue</li>
              <li>Analyzed and presented data to support entering Latin American market; worked
with VP of Business Development to identify market entry strategies and distribution partners</li>
            </ul>
        </div>
      </div>
    </div>      
      
    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
          <h4 class = "heading" id="exptime">Summer 2007</h4>
          <h4 class = "heading" id="exptime">Venice, CA</h4>
        </div>
        <div class="col-md-9">
          <h4>JibJab Media, Product Manager Intern</h4>
            <ul>
              <li>Developed multiple product analytics reporting tools that support content and
product decisions; supported strategic shift to virtual gift business model</li>
            </ul>
        </div>
      </div>
    </div>      

    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
          <h4 class = "heading" id="exptime">2004 - 2006</h4>
          <h4 class = "heading" id="exptime">Falls Church, VA</h4>
        </div>
        <div class="col-md-9">
          <h4>Raytheon Company, Sr. Systems Engineer</h4>
            <ul>
              <li>Led $1M defense engagement to deliver communication system for immediate
military field use; developed extensive product requirements documentation; managed cross functional technology team and delivered system within constrained timeline</li>
            </ul>
        </div>
      </div>
    </div>       
    
    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
          <h4 class = "heading" id="exptime">2001 - 2004</h4>
          <h4 class = "heading" id="exptime">Falls Church, VA</h4>
          <h4 class = "heading" id="exptime">Rochester, NY</h4>
        </div>
        <div class="col-md-9">
          <h4>Raytheon Company, Sr. Systems Engineer</h4>
            <ul>
              <li>Built Kodak’s HDTV color management system (hardware + software);
implemented complex color algorithm in hardware utilizing DSP theory; met aggressive goals and launch timeline; awarded at National Association of Broadcasters Conference</li>
              <li>Evangelized Kodak’s imaging solutions to government customers; successfully integrated systems at various military installations</li>
            </ul>
        </div>
      </div>
    </div>      
    <div class id="education">
      <h4 class = "heading">EDUCATION</h4>
    </div>
    <div class="well well-sg">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
          <h5>MBA, The University of California at Berkeley</h5>
          <h5>BS Electrical Engineering, The University of Texas at Austin</h5>
        </div>
  
      </div>  
    </div>
  </div>

</div>

</body>
</html>