<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monty's Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class = "container-fluid">
	<div class ="jumbotron" id="mainbody">
  	<div class id="name_id">	
      <h3>Monty Mitra</h3>
      <p>montymitra@gmail.com | www.linkedin.com/in/montymitra</p>
    </div>
    <div class id="experience">
      <div class="row">
        <div class="col-md-3">
          <h4>2014 - Present</h4>
          <h4>San Francisco, CA</h4>
        </div>
        <div class="col-md-9">
          <h4>Consultant</h4>
          <ul>
            <li>Launched PostgreSQL database add-on product for Pivotal Cloud Foundry; created pricing, license agreements, and marketing collateral</li>
            <li>Developed and rolled out new pricing for Engine Yard’s instance products</li>
            <li>Redesigned and launched new website for Stark & Wayne, LLC, a cloud services
            consulting firm</li>
            <li>Developed executive presentations for Medallia including four quarterly all-hands
presentations; coached executives in performance styles and storytelling;
            presentations were graded highly by other executives</li>
            <li>Created a series of Medallia engineering documents explaining complex technical
topics to non-engineering teams; documentation regarded as essential primers
            for non-technical audiences</li>
            <li>Produced, wrote, directed Medallia’s recruiting video; received over 25K hits
            across all channels; video noted to have helped attract high profile talent</li>
            <li>Wrote datasheet and whitepaper explaining identity management service
            implemented on Amazon Web Services</li>
          </ul>
        </div>
    </div>
</div>
</div>

</body>
</html>